<footer class="footer">
  <div class="container footer__inner">
    <p class="footer__copyright">
      {{ 'footer.rights' | t }} {{ year }}
    </p>

    <div class="footer__social">
      <a href="https://www.linkedin.com/in/mostafa-saqly/" target="_blank" rel="noopener">
        LinkedIn
      </a>

      <a href="https://youtube.com/saqlycourses" target="_blank" rel="noopener">
        YouTube
      </a>

      <a href="https://github.com/mostafasaqly" target="_blank" rel="noopener">
        GitHub
      </a>

      <a href="https://khamsat.com/user/saqly" target="_blank" rel="noopener">
        Khamsat
      </a>

      <a href="https://www.udemy.com/user/mostafaabdelazeem/" target="_blank" rel="noopener">
      Udemy
      </a>
    </div>
  </div>
</footer>
